pipeline/evin_raw.json
{
	"name": "evin_raw",
	"properties": {
		"description": "to create raw data",
		"activities": [
			{
				"name": "evin-lookup-metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_metadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop_ingest_raw_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "evin-lookup-metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('evin-lookup-metadata').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "execute_pipeline_ingest_raw_data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Ingest_Single_Table_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema_name": {
										"value": "@item().schema_name",
										"type": "Expression"
									},
									"table_name": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"watermark_column": {
										"value": "@item().watermark_column",
										"type": "Expression"
									},
									"last_watermark": {
										"value": "@item().last_watermark",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}