pipeline/Ingest_Single_Table_Pipeline.json
{
	"name": "Ingest_Single_Table_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy_PostgreSQL_To_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-ingestion-time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "@concat('select * from ',pipeline().parameters.schema_name, '.', pipeline().parameters.table_name,' WHERE ', pipeline().parameters.watermark_column, ' is null or ', pipeline().parameters.watermark_column, ' > ''', pipeline().parameters.last_watermark, '''')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_master_source",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"file_name": {
								"value": "@variables('ingestion_time')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set-ingestion-time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ingestion_time",
					"value": {
						"value": "@concat('ingestion_date=',formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd hh:mm:ss' ))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "df_fetch_watermark",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy_PostgreSQL_To_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_get_max_watermark",
						"type": "DataFlowReference",
						"parameters": {
							"table_name": {
								"value": "'@{pipeline().parameters.table_name}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"sourceTable": {
								"table_name": {
									"value": "@pipeline().parameters.table_name",
									"type": "Expression"
								},
								"file_name": {
									"value": "@concat(variables('ingestion_time'),'.parquet')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"watermark_column": {
				"type": "string"
			},
			"last_watermark": {
				"type": "string"
			}
		},
		"variables": {
			"query": {
				"type": "String"
			},
			"ingestion_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}